*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background: rgb(246,14,46);
    background: linear-gradient(125deg, rgba(246,14,46,1) 33%, rgba(255,244,0,1) 78%);
    background-size: 500% 500%;
    animation: bg 5s linear infinite;
}
@keyframes bg {
    0%{
        background-position: 0%;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}
.form{
    background-color: white;
    width: 400px;
    min-height: 400px;
    padding: 32px;
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.form img{
    width: 150px;
    height: 110px;
    display: block;
    margin: auto;
}
.form-title{
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 28px;
}
.form-group{
    height: 48px;
    margin-bottom: 20px;
    position: relative;
}
.form-control{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: 1px solid #a1a1a1;
    outline: none;
    padding: 16px;
    border-radius: 4px;
    z-index: 1;
}
.form-label{
    position: absolute;
    left: 13px;
    top: 13px;
    color: #a1a1a1;
    background-color: white;
    padding: 0 6px;
    /* font-size: 14px; */
    transition: .3s;
}
.form-control:focus+ .form-label{
    top: -8px;
    z-index: 10;
    color: #1B66C9;
    font-weight: 500;

}
.form-control:focus{
    border: 1px solid #1B66C9;
}
.form-control:not(:focus):valid+label{
    top: -8px;
    z-index: 10;
}
.showlabel{
    font-size: 14px;
}
.bottom-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.bottom-box a{
    color: #1B66C9;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.form-btn{
    display: block;
    padding: 12px 32px;
    background-color: #1B66C9;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
}
.form-btn:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}
